<h1>Movie Search</h1>

<form action="/results" method="GET">
    <label for="movieTitle">Movie Title: </label>
    <input type="text" name="movieTitle" placeholder="Search Movie">
    <input type="submit">
</form>